.section {
  padding: 100px 20px;
  background: #0b0f19;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.tag {
  display: inline-block;
  color: #cba052;
  font-weight: 700;
  margin-bottom: 12px;
}

.section h2 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 15px;
}

.subtitle {
  color: #94a3b8;
  max-width: 650px;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}

.card {
  background: #111827;
  border-radius: 20px;
  overflow: hidden;
  transition: transform .35s ease, box-shadow .35s ease, border-color .35s ease;
  border: 1px solid rgba(255,255,255,.08);
}

.card:hover {
  transform: translateY(-8px);
  border-color: #e7c171;
  box-shadow: 0 25px 60px rgba(0,0,0,.35);
}

.imageWrapper {
  overflow: hidden;
}

.image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: .4s;
}

.card:hover .image {
  transform: scale(1.08);
}

.content {
  padding: 24px;
}

.content h3 {
  color: white;
  margin-bottom: 8px;
}

.content span {
  color: #cba052;
  display: block;
  margin-bottom: 8px;
}

.content p {
  color: #94a3b8;
  margin-bottom: 20px;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.socials a:hover {
  background: #e7c171;
}

@media(max-width:900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .section h2 {
    font-size: 2.3rem;
  }
}

@media(max-width: 600px) {
  .section {
    padding: 60px 20px;
  }

  .image {
    height: 320px;
  }

  .card {
    max-width: 400px;
    margin: 0 auto;
  }
}